flows.json
[{"id":"a8d4a3.e5886b6","type":"tab","label":"GW10 - Collect Data","disabled":false,"info":""},{"id":"ce868e35.c2461","type":"tab","label":"GW10 - Dashboard","disabled":false,"info":""},{"id":"ed92af44.3791","type":"tab","label":"GW10 - PiFi","disabled":false,"info":""},{"id":"d21fe766.ed76","type":"tab","label":"GW10 - Sonoff & MQTT","disabled":false,"info":""},{"id":"609e4337.34d524","type":"tab","label":"GW10 - Pings","disabled":true,"info":""},{"id":"f6400d6f.4cd388","type":"tab","label":"GW10 - Alexa SSML Test","disabled":false,"info":""},{"id":"e430d21a.9058a","type":"tab","label":"GW10 - MAX31865","disabled":true,"info":""},{"id":"23c39690.b9d2c2","type":"tab","label":"GW10 - Chats","disabled":true,"info":""},{"id":"34378079.236a28","type":"ui_group","z":"","name":"Home Water System","tab":"f30bd5e3.7b1108","disp":true,"width":"6","collapse":false},{"id":"42ae62ba.b2371c","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5aae071e.865f28","type":"influxdb","z":"a8d4a3.e5886b6","hostname":"192.168.1.10","port":"8086","protocol":"http","database":"myData","name":"","usetls":false,"tls":""},{"id":"f30bd5e3.7b1108","type":"ui_tab","z":"","name":"Home Water System","icon":"dashboard","order":1},{"id":"e06e8c96.a73e18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7647f21e.f319cc","type":"serial-port","z":"","serialport":"/dev/ttyAMA1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\r","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2c6a7877.c38d78","type":"influxdb","z":"","hostname":"192.168.1.10","port":"8086","protocol":"http","database":"myData","name":"myData","usetls":false,"tls":""},{"id":"c3fa1145.9ddad","type":"ncd-comm","z":"","name":"ADS1115","bus":"i2c-1","commType":"standard","addr":"0","useMux":false,"muxAddr":"112","muxPort":"0"},{"id":"c5ae98e6.13b36","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"96a92e6b.63fb08","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"myData","name":"","usetls":false,"tls":""},{"id":"3d869ded.e6c6e2","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"109751ea.cd5266","type":"ui_group","z":"","name":"House Control","tab":"c0073478.b8ce88","disp":true,"width":"6","collapse":false},{"id":"c0073478.b8ce88","type":"ui_tab","z":"","name":"House Control","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"983f4897.260008","type":"alexa-remote-account","z":"","name":"","authMethod":"cookie","proxyOwnIp":"192.168.1.10","proxyPort":"3456","cookieFile":"findme.txt","refreshInterval":"3","alexaServiceHost":"alexa.amazon.com.au","amazonPage":"amazon.com.au","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"2eab9408.3b5bb4","type":"telegram bot","z":"","botname":"RedBot","usernames":"Patrick McDonnell","chatids":"987530097","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"4ac8182.0584ee8","type":"mpd-server","z":"","host":"192.168.1.111","port":"6600"},{"id":"2e682312.971294","type":"ncd-comm","z":"","name":"","commType":"standard","addr":"0","useMux":false,"muxAddr":"112","muxPort":"0"},{"id":"83f1bc16.d9b18","type":"debug","z":"a8d4a3.e5886b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":80,"wires":[]},{"id":"92e1bb03.8a61e","type":"serial in","z":"a8d4a3.e5886b6","name":"Moteino Gateway","serial":"42ae62ba.b2371c","x":120,"y":120,"wires":[["eca913ea.ef6838","83f1bc16.d9b18"]]},{"id":"eca913ea.ef6838","type":"function","z":"a8d4a3.e5886b6","name":"Parse RFM69, send MQTT and set Global Variables","func":"var mqtt = context.global.mqttModule;\noptions={\nclientId:\"ParseSensors\",\nusername:\"admin\",\npassword:\"fish4021\",\nclean:true};\nvar mqttClient = mqtt.connect('mqtt://localhost', options);\nmqttClient.subscribe(\"sensors\");\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nmsg.payload = msg.payload.trim();\n\n//var measurement = msg.payload.substring(0, 3);\n//msg.measurement=measurement;\n//outTopicStart = 'sensors/' + measurement + '/';\n\nvar result = {};\n\n\ntokens = msg.payload.split(' ');\nmsg.payload = \"\";\n\n//var measurement_ARR = tokens[0];\n//var measurenment_ARR1 = measurement_ARR.split(':');\n//var measurement = measurenment_ARR1[1];\nvar measurement = tokens[0];\n\n//Only Process Data if We are in Valid Range\nif (isNaN(measurement) || (0 > measurement) && (measurement > 256)) {\n    node.warn(\"Not a Valid Node, skipping\");\nreturn 0;\n}\n\nmsg.measurement = measurement;\noutTopicStart = 'sensors/' + measurement + '/';\n//node.warn(\"Measurement\");\n//node.warn(measurement);\n\ntokens.shift();\n\ntokens.forEach(myFunction);\n\n//Original myFunction\n//function myFunction(item) {var arr = item.split(':');\n//mqttClient.publish(outTopicStart + arr[0] , arr[1]);\n//global.set(measurement + '_' + arr[0],parseFloat(arr[1]));\n//      result[arr[0]] = parseFloat(arr[1])\n//}\n\n\n//Modify this to Ignore NaN\nfunction myFunction(item) {var arr = item.split(':');\n\nif (isNaN(arr[1])) {\n    node.warn(\"Not a Number in Field, skipping this record\");  //todo print more details - node & measurement\nreturn 0;\n}\n\nmqttClient.publish(outTopicStart + arr[0] , arr[1]);\nglobal.set(measurement + '_' + arr[0],parseFloat(arr[1]));\n      result[arr[0]] = parseFloat(arr[1])\n}\n\n\n\nmqttClient.end();\nmsg.payload=result;\nreturn msg;\n","outputs":"1","noerr":0,"x":450,"y":120,"wires":[["bc3b6f5.623f19","de902688.83b0c8"]]},{"id":"e76098c6.843818","type":"comment","z":"a8d4a3.e5886b6","name":"Receive Tank Level over Serial from Maxbotix and Store in InfluxDB","info":"","x":280,"y":200,"wires":[]},{"id":"bc3b6f5.623f19","type":"influxdb out","z":"a8d4a3.e5886b6","influxdb":"5aae071e.865f28","name":"","measurement":"","precision":"","retentionPolicy":"","x":900,"y":120,"wires":[]},{"id":"de902688.83b0c8","type":"debug","z":"a8d4a3.e5886b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":80,"wires":[]},{"id":"77c70087.bcf328","type":"comment","z":"a8d4a3.e5886b6","name":"Receive RF69 Radio Dataon Serial from Moteino, Broadcast on MQTT and Store in InfluxDB","info":"","x":360,"y":40,"wires":[]},{"id":"a7360439.f36ee","type":"ui_chart","z":"ce868e35.c2461","name":"","group":"34378079.236a28","order":0,"width":0,"height":0,"label":"Tank Level - Last 24 Hours","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":160,"wires":[[]]},{"id":"3db72b4a.f5c664","type":"change","z":"ce868e35.c2461","name":"Set Tank Level to Global 10_AD0mm","rules":[{"t":"set","p":"payload","pt":"msg","to":"House_Tank_Level","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":80,"wires":[["9d5f0257.86da","2218b7d3.324f28","a7360439.f36ee"]]},{"id":"fc0ad912.5fdd9","type":"inject","z":"ce868e35.c2461","name":"Update Tank Level Every 10 Sec","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":80,"wires":[["3db72b4a.f5c664"]]},{"id":"2218b7d3.324f28","type":"ui_chart","z":"ce868e35.c2461","name":"","group":"34378079.236a28","order":0,"width":"6","height":"4","label":"Tank Level - Last 30min","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":120,"wires":[[]]},{"id":"9d5f0257.86da","type":"ui_gauge","z":"ce868e35.c2461","name":"Hose Tank Level Gauge","group":"34378079.236a28","order":0,"width":"6","height":"4","gtype":"gage","title":"House Tank Level","label":"mm","format":"{{value}}","min":"300","max":"1000","colors":["#ff0000","#e6e600","#008000"],"seg1":"500","seg2":"700","x":910,"y":80,"wires":[]},{"id":"d4580e14.29234","type":"comment","z":"ce868e35.c2461","name":"Dashboard Page Showing Water Tank Level Gauge and Graphs","info":"","x":270,"y":40,"wires":[]},{"id":"1b54f30e.208685","type":"serial in","z":"a8d4a3.e5886b6","name":"","serial":"7647f21e.f319cc","x":110,"y":300,"wires":[["bac5bb94.1aaf58","22d1753a.4bd20a"]]},{"id":"bac5bb94.1aaf58","type":"debug","z":"a8d4a3.e5886b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":240,"wires":[]},{"id":"22d1753a.4bd20a","type":"function","z":"a8d4a3.e5886b6","name":"Convert Measurement to Tank Level","func":"//msg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nmsg.payload = msg.payload.trim();\nmsg.payload = Number(msg.payload.substring(1, 5));\nif(msg.payload == 5000) {msg.payload= \"\"}\nglobal.set(\"House_Tank_Level\",1220-msg.payload);\nglobal.set(\"House_Tank_Percentage\",Math.round(100*((1100-msg.payload)/1100)));\n//Create Array\n//Raw Measurement\n//Calculated Level\n//Calculated % Full\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["1c63c309.907f05","9ef4a306.397ca"]]},{"id":"1c63c309.907f05","type":"debug","z":"a8d4a3.e5886b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":240,"wires":[]},{"id":"9ef4a306.397ca","type":"influxdb out","z":"a8d4a3.e5886b6","influxdb":"2c6a7877.c38d78","name":"House_Tank_Level","measurement":"House_Tank_Level","precision":"","retentionPolicy":"","x":650,"y":300,"wires":[]},{"id":"fd3abcac.9e335","type":"comment","z":"a8d4a3.e5886b6","name":"Tank High Level Switch","info":"","x":140,"y":360,"wires":[]},{"id":"e101ff55.c6eed","type":"comment","z":"a8d4a3.e5886b6","name":"Tank Low Level Switch","info":"","x":140,"y":440,"wires":[]},{"id":"4d154ef1.c9f2e8","type":"ncd-ads1115","z":"a8d4a3.e5886b6","name":"Pressure Sensors","connection":"c3fa1145.9ddad","addr":"72","interval":"500","outputs":5,"output_all":true,"output_mult":1,"channel_1":"4","channel_2":"5","channel_3":"6","channel_4":"7","gain":"0","mode":"2","rate":"5","compMode":0,"compPol":0,"compLat":0,"compQueue":3,"delay":"100","x":130,"y":660,"wires":[["496b8ed0.e3dde"],["b5611947.9d1968"],[],[],[]]},{"id":"496b8ed0.e3dde","type":"function","z":"a8d4a3.e5886b6","name":"","func":"//#ifdef ADS1115   //Convert this to mm for Pressure Sensor Type - Need to re-write seperate ADS1115_Pressure function so ADS1115 is generic sensor - quote calc used here as well\n//str.print(\"AD0:\");\n//str.print(smoothADS1115_0 * 0.1875,0);\n// 5PSI - 1.078 is a Calibration, 26666.67 is the resolution over +5v range, 703mm is 1PSI\n//str.print(\" AD0mm:\");\n//str.print(((((((smoothADS1115_0*1.078) + 0.5) / 26666.67)-0.1)*(5/0.8))*703.0695783),0);\n// 5PSI\n//str.print(\" AD1mm:\");\n//str.print(((((((smoothADS1115_1*1.078) + 0.5) / 26666.67)-0.1)*(5/0.8))*703.0695783),0);\n//0.5 MPa - 26666.67 is the resolution over +5v range, 500 is full range in kPa\n//str.print(\" AD2kPa:\");\n//str.print((((((smoothADS1115_2) + 0.5) / 26666.67)-0.1)*(500/0.8)),0);\n//0.5 MPa\n//str.print(\" AD3kPa:\");\n//str.print((((((smoothADS1115_3) + 0.5) / 26666.67)-0.1)*(500/0.8)),0);\n\nmsg.payload = ((((((msg.payload*1.078) + 0.5) / 26666.67)-0.1)*(5/0.8))*703.0695783)\n//msg.payload.channel_2 = ((((((msg.payload.channel_2*1.078) + 0.5) / 26666.67)-0.1)*(5/0.8))*703.0695783)\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["31820750.aad5d8"]]},{"id":"b5611947.9d1968","type":"function","z":"a8d4a3.e5886b6","name":"","func":"//#ifdef ADS1115   //Convert this to mm for Pressure Sensor Type - Need to re-write seperate ADS1115_Pressure function so ADS1115 is generic sensor - quote calc used here as well\n//str.print(\"AD0:\");\n//str.print(smoothADS1115_0 * 0.1875,0);\n// 5PSI - 1.078 is a Calibration, 26666.67 is the resolution over +5v range, 703mm is 1PSI\n//str.print(\" AD0mm:\");\n//str.print(((((((smoothADS1115_0*1.078) + 0.5) / 26666.67)-0.1)*(5/0.8))*703.0695783),0);\n// 5PSI\n//str.print(\" AD1mm:\");\n//str.print(((((((smoothADS1115_1*1.078) + 0.5) / 26666.67)-0.1)*(5/0.8))*703.0695783),0);\n//0.5 MPa - 26666.67 is the resolution over +5v range, 500 is full range in kPa\n//str.print(\" AD2kPa:\");\n//str.print((((((smoothADS1115_2) + 0.5) / 26666.67)-0.1)*(500/0.8)),0);\n//0.5 MPa\n//str.print(\" AD3kPa:\");\n//str.print((((((smoothADS1115_3) + 0.5) / 26666.67)-0.1)*(500/0.8)),0);\n\nmsg.payload = ((((((msg.payload*1.078) + 0.5) / 26666.67)-0.1)*(5/0.8))*703.0695783)\n//msg.payload.channel_2 = ((((((msg.payload.channel_2*1.078) + 0.5) / 26666.67)-0.1)*(5/0.8))*703.0695783)\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["39ea1d0.3834ee4"]]},{"id":"c2c227fd.b36c4","type":"influxdb out","z":"a8d4a3.e5886b6","influxdb":"2c6a7877.c38d78","name":"House_Tank_Pressure_1","measurement":"House_Tank_Pressure_1","precision":"","retentionPolicy":"","x":690,"y":620,"wires":[]},{"id":"f2e6793f.33de4","type":"influxdb out","z":"a8d4a3.e5886b6","influxdb":"2c6a7877.c38d78","name":"House_Tank_Pressure_2","measurement":"House_Tank_Pressure_2","precision":"","retentionPolicy":"","x":690,"y":660,"wires":[]},{"id":"31820750.aad5d8","type":"smooth","z":"a8d4a3.e5886b6","name":"","property":"payload","action":"mean","count":"30","round":"0","mult":"single","reduce":true,"x":480,"y":620,"wires":[["9c4ef0d0.6615b8","c2c227fd.b36c4"]]},{"id":"9c4ef0d0.6615b8","type":"debug","z":"a8d4a3.e5886b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":580,"wires":[]},{"id":"39ea1d0.3834ee4","type":"smooth","z":"a8d4a3.e5886b6","name":"","property":"payload","action":"mean","count":"30","round":"0","mult":"single","reduce":true,"x":480,"y":660,"wires":[["f13079df.240268","f2e6793f.33de4"]]},{"id":"f13079df.240268","type":"debug","z":"a8d4a3.e5886b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":700,"wires":[]},{"id":"91027b22.336fd8","type":"comment","z":"a8d4a3.e5886b6","name":"Read Pressure Sensors from ADS1115 ADC","info":"","x":210,"y":580,"wires":[]},{"id":"fa94f235.0c4cb8","type":"mqtt out","z":"d21fe766.ed76","name":"","topic":"","qos":"","retain":"","broker":"c5ae98e6.13b36","x":490,"y":60,"wires":[]},{"id":"c7f278bb.b1dca8","type":"inject","z":"d21fe766.ed76","name":"","topic":"cmnd/bench/POWER","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":60,"wires":[["fa94f235.0c4cb8"]]},{"id":"255ac9cf.102606","type":"mqtt in","z":"d21fe766.ed76","name":"","topic":"#","qos":"2","datatype":"auto","broker":"c5ae98e6.13b36","x":140,"y":180,"wires":[["b6c747f0.aedf5"]]},{"id":"b6c747f0.aedf5","type":"debug","z":"d21fe766.ed76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":180,"wires":[]},{"id":"9987c711.e805e8","type":"inject","z":"d21fe766.ed76","name":"","topic":"cmnd/bench/POWER","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["fa94f235.0c4cb8"]]},{"id":"db4f456f.58d488","type":"exec","z":"d21fe766.ed76","command":"sudo reboot now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":320,"y":580,"wires":[[],[],[]]},{"id":"a961a66c.9dcf78","type":"inject","z":"d21fe766.ed76","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":580,"wires":[["db4f456f.58d488"]]},{"id":"82aa090d.63a6c8","type":"exec","z":"d21fe766.ed76","command":"sudo shutdown now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown","x":320,"y":660,"wires":[[],[],[]]},{"id":"8e9daf67.a9f78","type":"inject","z":"d21fe766.ed76","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":660,"wires":[["82aa090d.63a6c8"]]},{"id":"8a4297ef.70f85","type":"mqtt out","z":"d21fe766.ed76","name":"","topic":"","qos":"","retain":"","broker":"c5ae98e6.13b36","x":490,"y":340,"wires":[]},{"id":"46e14621.f83c68","type":"inject","z":"d21fe766.ed76","name":"","topic":"cmnd/sonoffPowR2/POWER","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":340,"wires":[["8a4297ef.70f85"]]},{"id":"d388e61d.f8bd88","type":"inject","z":"d21fe766.ed76","name":"","topic":"cmnd/sonoffPowR2/POWER","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":400,"wires":[["8a4297ef.70f85"]]},{"id":"9d69eb28.38b02","type":"mqtt in","z":"d21fe766.ed76","name":"","topic":"tele/sonoffPowR2/STATE","qos":"2","datatype":"auto","broker":"c5ae98e6.13b36","x":190,"y":260,"wires":[["ba6b56e2.8a621"]]},{"id":"ba6b56e2.8a621","type":"debug","z":"d21fe766.ed76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":260,"wires":[]},{"id":"8def4c16.f58e7","type":"mqtt out","z":"d21fe766.ed76","name":"","topic":"","qos":"","retain":"","broker":"c5ae98e6.13b36","x":1030,"y":340,"wires":[]},{"id":"40a858e1.6c1e48","type":"inject","z":"d21fe766.ed76","name":"","topic":"cmnd/FrontDoor/POWER","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":340,"wires":[["8def4c16.f58e7"]]},{"id":"9c854be5.bc4df","type":"inject","z":"d21fe766.ed76","name":"","topic":"cmnd/FrontDoor/POWER","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":400,"wires":[["8def4c16.f58e7"]]},{"id":"a912cadd.258ea","type":"ncd-mcp23017","z":"d21fe766.ed76","name":"MCP23017","connection":"2e682312.971294","addr":"32","interval":"10000","onchange":"","send_init":"","outputs":17,"output_all":true,"io_1":false,"io_2":true,"io_3":true,"io_4":true,"io_5":true,"io_6":true,"io_7":true,"io_8":true,"io_9":true,"io_10":true,"io_11":true,"io_12":true,"io_13":true,"io_14":true,"io_15":true,"io_16":true,"persist":"","startup":"","x":270,"y":960,"wires":[["3937300c.b8cb88"],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"3937300c.b8cb88","type":"debug","z":"d21fe766.ed76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":860,"wires":[]},{"id":"1910f70f.6594d1","type":"comment","z":"d21fe766.ed76","name":"MAX31856/MAX31865","info":"https://discourse.nodered.org/t/max31865-tutorial/10364\n\nhttps://github.com/kaelfischer/max31856-nodered\n\nhttps://github.com/steve71/MAX31865\n\nhttps://discourse.nodered.org/t/max31865-tutorial/10364","x":760,"y":80,"wires":[]},{"id":"4ee3114b.d1cfb8","type":"comment","z":"d21fe766.ed76","name":"NEED TO MODIFY THESE TO WORK WITH DOCKER","info":"","x":280,"y":520,"wires":[]},{"id":"697270d7.f21db8","type":"ping","z":"609e4337.34d524","name":"Ping Optus","host":"optus.com.au","timer":"30","x":140,"y":80,"wires":[["fe63d275.070868","2879f078.04058"]]},{"id":"fe63d275.070868","type":"debug","z":"609e4337.34d524","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":80,"wires":[]},{"id":"2879f078.04058","type":"function","z":"609e4337.34d524","name":"Convert Null to Zero","func":"if(!msg.payload) {msg.payload= 100}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["95bec47b.849b28","fe50acd2.a7daf"]]},{"id":"95bec47b.849b28","type":"influxdb out","z":"609e4337.34d524","influxdb":"96a92e6b.63fb08","name":"","measurement":"OptusPing","precision":"","retentionPolicy":"","x":680,"y":120,"wires":[]},{"id":"fe50acd2.a7daf","type":"debug","z":"609e4337.34d524","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"2b265daf.18b7a2","type":"ping","z":"609e4337.34d524","name":"Ping Google","host":"google.com.au","timer":"30","x":150,"y":220,"wires":[["c2359206.e37418","6ed9df56.44c638"]]},{"id":"c2359206.e37418","type":"debug","z":"609e4337.34d524","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":220,"wires":[]},{"id":"6ed9df56.44c638","type":"function","z":"609e4337.34d524","name":"Convert Null to Zero","func":"if(!msg.payload) {msg.payload= 100}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["a7909bef.bd6588","bc434451.a1754"]]},{"id":"a7909bef.bd6588","type":"influxdb out","z":"609e4337.34d524","influxdb":"96a92e6b.63fb08","name":"","measurement":"GooglePing","precision":"","retentionPolicy":"","x":680,"y":260,"wires":[]},{"id":"bc434451.a1754","type":"debug","z":"609e4337.34d524","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":300,"wires":[]},{"id":"1e584afb.1d454d","type":"ping","z":"609e4337.34d524","name":"Ping Google","host":"google.com","timer":"30","x":150,"y":380,"wires":[["3a1998d3.20e938","9cbaad15.3829c"]]},{"id":"3a1998d3.20e938","type":"debug","z":"609e4337.34d524","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":380,"wires":[]},{"id":"9cbaad15.3829c","type":"function","z":"609e4337.34d524","name":"Convert Null to Zero","func":"if(msg.payload===false) {msg.payload=100}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["f1f27e7.86c65","6d38d31.a224dac"]]},{"id":"f1f27e7.86c65","type":"influxdb out","z":"609e4337.34d524","influxdb":"96a92e6b.63fb08","name":"","measurement":"GooglePing_2","precision":"","retentionPolicy":"","x":690,"y":420,"wires":[]},{"id":"6d38d31.a224dac","type":"debug","z":"609e4337.34d524","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":460,"wires":[]},{"id":"347a48bd.8fe8b8","type":"ping","z":"609e4337.34d524","name":"Ping Music NAS","host":"192.168.1.3","timer":"60","x":160,"y":560,"wires":[["98cebee6.5b9e98"]]},{"id":"b6fd7492.e5a52","type":"ping","z":"609e4337.34d524","name":"Ping Kids","host":"192.168.1.4","timer":"60","x":140,"y":620,"wires":[["fe3eb78a.afc07"]]},{"id":"e28b55cb.196f38","type":"ping","z":"609e4337.34d524","name":"Ping Kids2","host":"192.168.1.8","timer":"60","x":140,"y":680,"wires":[["f1891d75.92ea98"]]},{"id":"a1847a0a.c233d","type":"ping","z":"609e4337.34d524","name":"Ping PiFi","host":"192.168.1.111","timer":"60","x":140,"y":740,"wires":[["a59fa8c3.ad9ed8"]]},{"id":"98cebee6.5b9e98","type":"function","z":"609e4337.34d524","name":"Convert Null to Zero","func":"if(msg.payload===false) {msg.payload=100}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":560,"wires":[["9cbe405.ea2e24"]]},{"id":"fe3eb78a.afc07","type":"function","z":"609e4337.34d524","name":"Convert Null to Zero","func":"if(msg.payload===false) {msg.payload=100}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["4eba98ed.11d698"]]},{"id":"f1891d75.92ea98","type":"function","z":"609e4337.34d524","name":"Convert Null to Zero","func":"if(msg.payload===false) {msg.payload=100}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":680,"wires":[["444db8df.8b423"]]},{"id":"a59fa8c3.ad9ed8","type":"function","z":"609e4337.34d524","name":"Convert Null to Zero","func":"if(msg.payload===false) {msg.payload=100}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":740,"wires":[["68a530b1.2be4"]]},{"id":"690328a3.4fa3e","type":"ping","z":"609e4337.34d524","name":"Ping VPS","host":"139.99.194.82","timer":"60","x":140,"y":500,"wires":[["2303e915.8de5ae"]]},{"id":"2303e915.8de5ae","type":"function","z":"609e4337.34d524","name":"Convert Null to Zero","func":"if(msg.payload===false) {msg.payload=100}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":500,"wires":[["a718fa1e.352a38"]]},{"id":"a718fa1e.352a38","type":"influxdb out","z":"609e4337.34d524","influxdb":"96a92e6b.63fb08","name":"","measurement":"VPS_Ping","precision":"","retentionPolicy":"","x":670,"y":500,"wires":[]},{"id":"9cbe405.ea2e24","type":"influxdb out","z":"609e4337.34d524","influxdb":"96a92e6b.63fb08","name":"","measurement":"Music_NAS_Ping","precision":"","retentionPolicy":"","x":700,"y":560,"wires":[]},{"id":"4eba98ed.11d698","type":"influxdb out","z":"609e4337.34d524","influxdb":"96a92e6b.63fb08","name":"","measurement":"Kids_Ping","precision":"","retentionPolicy":"","x":670,"y":620,"wires":[]},{"id":"444db8df.8b423","type":"influxdb out","z":"609e4337.34d524","influxdb":"96a92e6b.63fb08","name":"","measurement":"Kids2_Ping","precision":"","retentionPolicy":"","x":680,"y":680,"wires":[]},{"id":"68a530b1.2be4","type":"influxdb out","z":"609e4337.34d524","influxdb":"96a92e6b.63fb08","name":"","measurement":"PiFi_Ping","precision":"","retentionPolicy":"","x":670,"y":740,"wires":[]},{"id":"bd851587.bf977","type":"mqtt out","z":"ce868e35.c2461","name":"","topic":"","qos":"","retain":"","broker":"3d869ded.e6c6e2","x":550,"y":320,"wires":[]},{"id":"386491ea.586fae","type":"ui_switch","z":"ce868e35.c2461","name":"","label":"Kitchen Bench","tooltip":"","group":"109751ea.cd5266","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"cmnd/bench/POWER","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":320,"wires":[["bd851587.bf977"]]},{"id":"28f473c8.d74664","type":"ui_button","z":"ce868e35.c2461","name":"","group":"109751ea.cd5266","order":1,"width":0,"height":0,"passthru":false,"label":"All Lights OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":120,"y":320,"wires":[["386491ea.586fae"]]},{"id":"3baf0fd8.840238","type":"inject","z":"f6400d6f.4cd388","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["ce00a61b.d2b688"]]},{"id":"ce00a61b.d2b688","type":"template","z":"f6400d6f.4cd388","name":"Good Morning","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>    \n<s><voice name=\"Celine\">Bonjour!</voice></s>\n<s><voice name=\"Hans\">Guten Morgen!</voice></s>\n<s><voice name=\"Amy\">Good Morning!</voice></s>\n<s><voice name=\"Giorgio\">Buongiorno!</voice></s>\n<s><voice name=\"Enrique\">¡Buenos días!</voice></s>\n</speak>","output":"str","x":360,"y":100,"wires":[["9e24cd48.433538"]]},{"id":"8634a791.672268","type":"template","z":"f6400d6f.4cd388","name":"Effects","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n<prosody volume=\"x-loud\">This is louder.</prosody>\n<prosody volume=\"x-soft\">This is quieter.</prosody>\n<prosody rate=\"50%\">This is slow.</prosody>\n<prosody rate=\"150%\">This is fast.</prosody>\n<prosody pitch=\"-33.3%\">This is deep.</prosody>\n<prosody pitch=\"+50%\">This is high.</prosody>\n<amazon:effect name=\"whispered\">This is whispering.</amazon:effect>\n</speak>","output":"str","x":330,"y":140,"wires":[["9e24cd48.433538"]]},{"id":"a91f5960.5d38c8","type":"inject","z":"f6400d6f.4cd388","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["8634a791.672268"]]},{"id":"e9579bcc.566898","type":"template","z":"f6400d6f.4cd388","name":"Time and Date","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n    Time 08:30.\n    Duration <say-as interpret-as=\"time\">12'3\"</say-as>.\n    Date <say-as interpret-as=\"date\" format=\"dmy\">28/02/2020</say-as>.\n</speak>","output":"str","x":360,"y":180,"wires":[["9e24cd48.433538"]]},{"id":"8e529dd7.5a80f8","type":"inject","z":"f6400d6f.4cd388","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["e9579bcc.566898"]]},{"id":"9e0ed90a.5fde18","type":"inject","z":"f6400d6f.4cd388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["2162584f.4b9978"]]},{"id":"2162584f.4b9978","type":"template","z":"f6400d6f.4cd388","name":"Paddy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n<prosody volume=\"x-loud\">Paddy is the best.</prosody>\n<prosody volume=\"x-loud\">Paddy wee's on the toilet floor.</prosody>\n<amazon:effect name=\"whispered\">Paddy made me say that.</amazon:effect>\n</speak>","output":"str","x":330,"y":220,"wires":[["9e24cd48.433538"]]},{"id":"f8d1f42a.c5ddd8","type":"template","z":"f6400d6f.4cd388","name":"Daddy Rules","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n<s><voice name=\"Russell\">McDonnell's Rule!</voice></s>\n<s><voice name=\"Nicole\">Daddy is the best daddy in the whole world!</voice></s>\n<amazon:effect name=\"whispered\">Daddy made me say that.</amazon:effect>\n</speak>","output":"str","x":350,"y":260,"wires":[["9e24cd48.433538"]]},{"id":"bc750bae.a53028","type":"inject","z":"f6400d6f.4cd388","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["f8d1f42a.c5ddd8"]]},{"id":"2ea06c93.2ef2ac","type":"template","z":"f6400d6f.4cd388","name":"House Tank Low","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n<s><voice name=\"Russell\">Paddy is the best. Paddy rules the whole world. Paddy made me say that.</voice></s>\n</speak>","output":"str","x":370,"y":300,"wires":[["9e24cd48.433538"]]},{"id":"3803c9d3.bb078e","type":"inject","z":"f6400d6f.4cd388","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["2ea06c93.2ef2ac"]]},{"id":"4cfb809b.14fd6","type":"template","z":"f6400d6f.4cd388","name":"Daddy Rules","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n<s><voice name=\"Russell\">Angus is a ginger ninja!</voice></s>\n</speak>","output":"str","x":350,"y":340,"wires":[["9e24cd48.433538"]]},{"id":"71bbc7c9.a04c9","type":"inject","z":"f6400d6f.4cd388","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["4cfb809b.14fd6"]]},{"id":"b2cf50a1.4c5b","type":"inject","z":"f6400d6f.4cd388","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["3aa7c98c.bc70ce"]]},{"id":"3aa7c98c.bc70ce","type":"template","z":"f6400d6f.4cd388","name":"Hello","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>    \n<s><voice name=\"Celine\">Hello</voice></s>\n<s><voice name=\"Hans\">Hello There</voice></s>\n<s><voice name=\"Amy\">Howdy all</voice></s>\n<s><voice name=\"Giorgio\">Good day to you</voice></s>\n<s><voice name=\"Enrique\">Is there anybody out there?</voice></s>\n</speak>","output":"str","x":330,"y":380,"wires":[["9e24cd48.433538"]]},{"id":"19dde15d.eddff7","type":"template","z":"f6400d6f.4cd388","name":"Good Morning","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n<s><voice name=\"Russell\">Awesome.</voice></s>\n<amazon:effect name=\"whispered\">Daddy is home tomorrow night.  Yay!</amazon:effect>\n</speak>","output":"str","x":360,"y":420,"wires":[["9e24cd48.433538"]]},{"id":"289661ae.bb00b6","type":"inject","z":"f6400d6f.4cd388","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["19dde15d.eddff7"]]},{"id":"9e24cd48.433538","type":"alexa-remote-routine","z":"f6400d6f.4cd388","name":"","account":"983f4897.260008","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":["G2A0U204927501US"]}},"x":660,"y":220,"wires":[[]]},{"id":"cd69b659.bdbef8","type":"pythonshell in","z":"e430d21a.9058a","name":"Temp working rev 1","pyfile":"/home/pi/MAX31865/max31865.py","virtualenv":"","continuous":true,"stdInData":false,"x":390,"y":140,"wires":[["4ec41327.7a23f4"]]},{"id":"4ec41327.7a23f4","type":"function","z":"e430d21a.9058a","name":"bakman2","func":"\np = msg.payload\nrow = p.split(/\\r?\\n/)\n\noutput = {}\n\n\nfor(x=0;x<row.length-1;x++){\n  input = row[x].split(\":\")\n  key = input[0].replace(/[^a-zA-Z0-9 ]/g, '').trim().split(' ').join('_');\n    output[key] = parseFloat(input[1].trim());    \n}\n\nreturn {payload:output};","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["ede66db1.aba3d8"]],"info":"This separates the string of info from the MAX31862 pything code into usable objects"},{"id":"ede66db1.aba3d8","type":"function","z":"e430d21a.9058a","name":"stripper","func":"m = msg.payload.CallendarVan_Dusen_Temp_degC__0\nreturn {payload:m}","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["161ec33a.f17ecd"]]},{"id":"161ec33a.f17ecd","type":"debug","z":"e430d21a.9058a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":140,"wires":[]},{"id":"96fce3a6.930c","type":"inject","z":"e430d21a.9058a","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":181,"y":137,"wires":[["cd69b659.bdbef8"]]},{"id":"fb0d1653.286868","type":"discord-get-messages","z":"23c39690.b9d2c2","name":"mcdonnells","token":"","channels":"mcdonnells","x":170,"y":100,"wires":[["a17d3f33.e06af"]]},{"id":"c825f926.98f88","type":"discord-send-messages","z":"23c39690.b9d2c2","name":"mcdonnells","channel":"mcdonnells","token":"","x":450,"y":180,"wires":[]},{"id":"f3bde1bd.a8061","type":"inject","z":"23c39690.b9d2c2","name":"","topic":"","payload":"Testing","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["c825f926.98f88"]]},{"id":"a17d3f33.e06af","type":"debug","z":"23c39690.b9d2c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":100,"wires":[]},{"id":"cfd8eae1.b4475","type":"telegram sender","z":"23c39690.b9d2c2","name":"","bot":"2eab9408.3b5bb4","x":690,"y":560,"wires":[[]]},{"id":"b7dddcd1.7bc78","type":"function","z":"23c39690.b9d2c2","name":"","func":"\nmsg.payload = {chatId : 987530097, type : 'message', content : 'Hello'}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":560,"wires":[["cfd8eae1.b4475"]]},{"id":"79436a98.bc3b54","type":"inject","z":"23c39690.b9d2c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":560,"wires":[["b7dddcd1.7bc78"]]},{"id":"46ed8091.fc195","type":"telegram receiver","z":"23c39690.b9d2c2","name":"","bot":"2eab9408.3b5bb4","saveDataDir":"","x":160,"y":700,"wires":[["21b72be9.e1382c"],[]]},{"id":"21b72be9.e1382c","type":"debug","z":"23c39690.b9d2c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":700,"wires":[]},{"id":"943f3bfc.1bf058","type":"telegram command","z":"23c39690.b9d2c2","name":"","command":"TestBot","bot":"2eab9408.3b5bb4","strict":false,"x":110,"y":780,"wires":[["635d049c.411424"],[]]},{"id":"635d049c.411424","type":"debug","z":"23c39690.b9d2c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":780,"wires":[]},{"id":"dbb28013.8b3358","type":"e-mail","z":"23c39690.b9d2c2","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"patrickmcdonnell@outlook.com","dname":"Send Email from GMail","x":990,"y":440,"wires":[]},{"id":"45ad06f4.b6bb4","type":"inject","z":"23c39690.b9d2c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["b8d531f7.2bc36"]]},{"id":"5f9271ab.62304","type":"function","z":"23c39690.b9d2c2","name":"Set Message Subject and Body","func":"msg.payload = \"Test email body from Node-Red \" + msg.time;\nmsg.topic = \"Alarm!\";\nreturn msg","outputs":1,"noerr":0,"x":690,"y":440,"wires":[["dbb28013.8b3358"]]},{"id":"a4a291cd.9fa49","type":"moment","z":"23c39690.b9d2c2","name":"","topic":"","input":"","inputType":"msg","inTz":"","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"","output":"","outputType":"msg","outTz":"","x":860,"y":200,"wires":[[]]},{"id":"b8d531f7.2bc36","type":"moment","z":"23c39690.b9d2c2","name":"","topic":"","input":"","inputType":"msg","inTz":"Australia/Brisbane","adjAmount":0,"adjType":"days","adjDir":"add","format":"calendar","locale":"en_AU","output":"time","outputType":"msg","outTz":"Australia/Brisbane","x":380,"y":440,"wires":[["5f9271ab.62304"]]},{"id":"587b392b.99af4","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":850,"y":20,"wires":[["a5e08edf.fd7498"]]},{"id":"15b95360.c7cfe5","type":"mpd in","z":"ed92af44.3791","name":"","topic":"","server":"4ac8182.0584ee8","x":290,"y":874,"wires":[["140979d.a5cc506","888c01e2.c70b6"]]},{"id":"140979d.a5cc506","type":"debug","z":"ed92af44.3791","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":874,"wires":[]},{"id":"3d22f426.40a804","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":590,"y":20,"wires":[["ec2e8e3f.00fb28"]]},{"id":"ec2e8e3f.00fb28","type":"function","z":"ed92af44.3791","name":"","func":"\nmsg.payload = \"load Sleep\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":20,"wires":[["587b392b.99af4"]]},{"id":"b2b94f8b.d373c","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":1370,"y":20,"wires":[[]]},{"id":"a5e08edf.fd7498","type":"function","z":"ed92af44.3791","name":"60","func":"\nmsg.payload = \"60\"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":20,"wires":[["5c15cb11.39b6a4"]]},{"id":"bc453f74.a464f","type":"function","z":"ed92af44.3791","name":"","func":"\nmsg.payload = \"play\"\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":20,"wires":[["b2b94f8b.d373c"]]},{"id":"a4414f86.4dc","type":"inject","z":"ed92af44.3791","name":"","topic":"","payload":"next","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":764,"wires":[["f0c8167d.ba9da8"]]},{"id":"f0c8167d.ba9da8","type":"mpd out","z":"ed92af44.3791","name":"","topic":"","server":"4ac8182.0584ee8","x":440,"y":764,"wires":[[]]},{"id":"89037f6b.79f488","type":"inject","z":"ed92af44.3791","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":820,"wires":[["d6e320f6.8c6078"]]},{"id":"d6e320f6.8c6078","type":"mpd out","z":"ed92af44.3791","name":"","topic":"","server":"4ac8182.0584ee8","x":440,"y":820,"wires":[[]]},{"id":"5c15cb11.39b6a4","type":"http request","z":"ed92af44.3791","name":"Volume","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/command?cmd=vol.sh {{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1120,"y":20,"wires":[["bc453f74.a464f"]]},{"id":"d01e0971.8455e8","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":712,"y":180,"wires":[["79c42027.5f93b8"]]},{"id":"e7ed46c4.6c1bd","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":452,"y":180,"wires":[["4b136c01.c863ec"]]},{"id":"4b136c01.c863ec","type":"function","z":"ed92af44.3791","name":"Load PL","func":"\nmsg.payload = 'load \"2020 Mega Mix\"';\nreturn msg;","outputs":1,"noerr":0,"x":582,"y":180,"wires":[["d01e0971.8455e8"]]},{"id":"c64a3281.4aaff","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":1432,"y":180,"wires":[[]]},{"id":"79c42027.5f93b8","type":"function","z":"ed92af44.3791","name":"50","func":"\nmsg.payload = \"50\"\nreturn msg;","outputs":1,"noerr":0,"x":832,"y":180,"wires":[["abae478.fd01fb8"]]},{"id":"72300775.88f0e8","type":"function","z":"ed92af44.3791","name":"Play","func":"\nmsg.payload = \"play\"\nreturn msg;","outputs":1,"noerr":0,"x":1312,"y":180,"wires":[["c64a3281.4aaff"]]},{"id":"abae478.fd01fb8","type":"http request","z":"ed92af44.3791","name":"Vol","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/command?cmd=vol.sh {{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":952,"y":180,"wires":[["f45192f1.1d9af"]]},{"id":"14ae1411.ad0f74","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":1192,"y":180,"wires":[["72300775.88f0e8"]]},{"id":"f45192f1.1d9af","type":"function","z":"ed92af44.3791","name":"RND","func":"\nmsg.payload = 'random \"1\"';\nreturn msg;","outputs":1,"noerr":0,"x":1072,"y":180,"wires":[["14ae1411.ad0f74"]]},{"id":"d888a060.1e7d4","type":"function","z":"ed92af44.3791","name":"","func":"\nmsg.payload = \"clear\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":20,"wires":[["3d22f426.40a804"]]},{"id":"7efcd5f2.662afc","type":"function","z":"ed92af44.3791","name":"Clear","func":"\nmsg.payload = \"clear\"\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":180,"wires":[["e7ed46c4.6c1bd"]]},{"id":"764e7e00.4be6e4","type":"inject","z":"ed92af44.3791","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":100,"wires":[["d888a060.1e7d4"]]},{"id":"f5c930f4.457ca8","type":"inject","z":"ed92af44.3791","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":312,"y":220,"wires":[["7efcd5f2.662afc"]]},{"id":"7ee09c46.14d78c","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":590,"y":500,"wires":[[]]},{"id":"10b7d306.62254d","type":"function","z":"ed92af44.3791","name":"","func":"\nmsg.payload = \"next\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":500,"wires":[["7ee09c46.14d78c"]]},{"id":"c4f75f6b.6c49d8","type":"http request","z":"ed92af44.3791","name":"Vol","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/command?cmd=vol.sh {{{percentage}}}","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":540,"wires":[[]]},{"id":"1fcb1b23.32c615","type":"http request","z":"ed92af44.3791","name":"Vol","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/command?cmd=vol.sh {{{percentage}}}","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":580,"wires":[[]]},{"id":"a4a2f924.0c117","type":"amazon-echo-hub","z":"ed92af44.3791","port":"80","processinput":0,"x":90,"y":20,"wires":[["33476638.d1f942","be6c13f8.d789c8","408fa74b.f2dd88","a96439fa.c0c67","ffdfbc40.841ca8","22faf95b.647446","a05a78e8.e5b708","b2473182.37504","b4d9f863.5c832","b66d6a17.948b18","99cc85af.cd48a","f92d3e97.866ea"]]},{"id":"33476638.d1f942","type":"amazon-echo-device","z":"ed92af44.3791","name":"Relaxation","topic":"","x":310,"y":60,"wires":[["d888a060.1e7d4"]]},{"id":"6153a054.545d7","type":"file","z":"a8d4a3.e5886b6","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":920,"y":180,"wires":[[]]},{"id":"be6c13f8.d789c8","type":"amazon-echo-device","z":"ed92af44.3791","name":"Relax","topic":"","x":290,"y":20,"wires":[["d888a060.1e7d4"]]},{"id":"408fa74b.f2dd88","type":"amazon-echo-device","z":"ed92af44.3791","name":"megamix","topic":"","x":300,"y":140,"wires":[["7efcd5f2.662afc"]]},{"id":"22faf95b.647446","type":"amazon-echo-device","z":"ed92af44.3791","name":"skip","topic":"","x":290,"y":500,"wires":[["10b7d306.62254d"]]},{"id":"a05a78e8.e5b708","type":"amazon-echo-device","z":"ed92af44.3791","name":"stereo","topic":"","x":290,"y":540,"wires":[["c4f75f6b.6c49d8"]]},{"id":"5b57e626.2285c8","type":"eztimer","z":"ed92af44.3791","name":"Turn Down PiFi","autoname":"23:00:00 - 6:00:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"23:00:00","onproperty":"percentage","onvaluetype":"num","onvalue":"50","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":true,"offtype":"2","offtimesun":"dusk","offtimetod":"6:00:00","offduration":"00:01:00","offproperty":"percentage","offvaluetype":"num","offvalue":"20","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":320,"y":580,"wires":[["1fcb1b23.32c615"]]},{"id":"5808cb90.8a378c","type":"inject","z":"ed92af44.3791","name":"Stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":721,"wires":[["b2473182.37504"]]},{"id":"30a6387.ef83548","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":730,"y":681,"wires":[[]]},{"id":"73490426.4e2e44","type":"function","z":"ed92af44.3791","name":"","func":"\nmsg.payload = \"stop\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":681,"wires":[["30a6387.ef83548"]]},{"id":"b2473182.37504","type":"amazon-echo-device","z":"ed92af44.3791","name":"silence","topic":"","x":300,"y":681,"wires":[["39520fab.ccf648"]]},{"id":"ea1ffd5a.ee668","type":"eztimer","z":"ed92af44.3791","name":"Stop PiFi at 6:30AM","autoname":"06:30:00 - 06:31:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"","lon":"","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"dawn","ontimetod":"06:30:00","onproperty":"payload","onvaluetype":"str","onvalue":"stop","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":true,"offtype":"2","offtimesun":"dusk","offtimetod":"06:31:00","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"stop","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":340,"y":630,"wires":[["a697951d.4e774"]]},{"id":"a697951d.4e774","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":650,"y":630,"wires":[[]]},{"id":"39520fab.ccf648","type":"switch","z":"ed92af44.3791","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":681,"wires":[["73490426.4e2e44"],["1c6d764a.6b85d2"]]},{"id":"caa88fa2.2d223","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":730,"y":741,"wires":[[]]},{"id":"1c6d764a.6b85d2","type":"function","z":"ed92af44.3791","name":"","func":"\nmsg.payload = \"play\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":721,"wires":[["caa88fa2.2d223"]]},{"id":"955062dd.2119","type":"function","z":"ed92af44.3791","name":"Clear","func":"\nmsg.payload = \"clear\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["564d533f.6837b4"]]},{"id":"605c4de0.44de6c","type":"inject","z":"ed92af44.3791","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":340,"wires":[["955062dd.2119"]]},{"id":"564d533f.6837b4","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":450,"y":300,"wires":[["e29c7dc3.afa2d"]]},{"id":"e29c7dc3.afa2d","type":"function","z":"ed92af44.3791","name":"Load PL","func":"\nmsg.payload = 'load \"Acoustic Mega Mix\"';\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":300,"wires":[["2af61c3f.58dec4"]]},{"id":"2af61c3f.58dec4","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":710,"y":300,"wires":[["e80f131f.fed3c8"]]},{"id":"e80f131f.fed3c8","type":"function","z":"ed92af44.3791","name":"50","func":"\nmsg.payload = \"50\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["9a025b2d.7da5b"]]},{"id":"9a025b2d.7da5b","type":"http request","z":"ed92af44.3791","name":"Vol","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/command?cmd=vol.sh {{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":300,"wires":[["23961725.4bf8f8"]]},{"id":"23961725.4bf8f8","type":"function","z":"ed92af44.3791","name":"RND","func":"\nmsg.payload = 'random \"1\"';\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":300,"wires":[["fbc9791b.5ab908"]]},{"id":"fbc9791b.5ab908","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":1190,"y":300,"wires":[["65585c2d.55c8a4"]]},{"id":"65585c2d.55c8a4","type":"function","z":"ed92af44.3791","name":"Play","func":"\nmsg.payload = \"play\"\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":300,"wires":[["e0b9e950.b6a61"]]},{"id":"e0b9e950.b6a61","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":1430,"y":300,"wires":[[]]},{"id":"a96439fa.c0c67","type":"amazon-echo-device","z":"ed92af44.3791","name":"acoustic","topic":"","x":300,"y":260,"wires":[["955062dd.2119"]]},{"id":"cb54cd09.3c478","type":"function","z":"ed92af44.3791","name":"Clear","func":"\nmsg.payload = \"clear\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["48f15442.606c5c"]]},{"id":"8720eeed.63266","type":"inject","z":"ed92af44.3791","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":460,"wires":[["cb54cd09.3c478"]]},{"id":"48f15442.606c5c","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":450,"y":420,"wires":[["59341579.b64274"]]},{"id":"59341579.b64274","type":"function","z":"ed92af44.3791","name":"Load PL","func":"\nmsg.payload = 'load \"Happy Mega Mix\"';\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":420,"wires":[["f17edda6.a4475"]]},{"id":"f17edda6.a4475","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":710,"y":420,"wires":[["dde33df3.8d52c8"]]},{"id":"dde33df3.8d52c8","type":"function","z":"ed92af44.3791","name":"50","func":"\nmsg.payload = \"50\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":420,"wires":[["e1b7edfb.70d348"]]},{"id":"e1b7edfb.70d348","type":"http request","z":"ed92af44.3791","name":"Vol","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/command?cmd=vol.sh {{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":420,"wires":[["c1983fc.e2cbbc"]]},{"id":"c1983fc.e2cbbc","type":"function","z":"ed92af44.3791","name":"RND","func":"\nmsg.payload = 'random \"1\"';\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":420,"wires":[["164e1752.2098a1"]]},{"id":"164e1752.2098a1","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":1190,"y":420,"wires":[["1e49b2fc.48a305"]]},{"id":"1e49b2fc.48a305","type":"function","z":"ed92af44.3791","name":"Play","func":"\nmsg.payload = \"play\"\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":420,"wires":[["9ff7ead2.c1b3a"]]},{"id":"9ff7ead2.c1b3a","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":1430,"y":420,"wires":[[]]},{"id":"ffdfbc40.841ca8","type":"amazon-echo-device","z":"ed92af44.3791","name":"happy","topic":"","x":290,"y":380,"wires":[["cb54cd09.3c478"]]},{"id":"7f6dbffc.506d6","type":"function","z":"ed92af44.3791","name":"Clear","func":"\nmsg.payload = \"clear\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":980,"wires":[["94cdfef0.c6a13"]]},{"id":"168911b2.10381e","type":"inject","z":"ed92af44.3791","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":1020,"wires":[["7f6dbffc.506d6"]]},{"id":"94cdfef0.c6a13","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":470,"y":980,"wires":[["d24c5abb.4cccc8"]]},{"id":"d24c5abb.4cccc8","type":"function","z":"ed92af44.3791","name":"Load PL","func":"\nmsg.payload = 'load \"tacos\"';\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":980,"wires":[["b3229883.a73918"]]},{"id":"b3229883.a73918","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":730,"y":980,"wires":[["7caddb01.382ca4"]]},{"id":"7caddb01.382ca4","type":"function","z":"ed92af44.3791","name":"70","func":"\nmsg.payload = \"70\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":980,"wires":[["89a2bb4e.e86588"]]},{"id":"89a2bb4e.e86588","type":"http request","z":"ed92af44.3791","name":"Vol","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/command?cmd=vol.sh {{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":980,"wires":[["8d2f5e70.48d32"]]},{"id":"8d2f5e70.48d32","type":"function","z":"ed92af44.3791","name":"RND","func":"\nmsg.payload = 'random \"0\"';\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":980,"wires":[["6db3d485.44e8c4"]]},{"id":"6db3d485.44e8c4","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":1210,"y":980,"wires":[["17ac9971.814de7"]]},{"id":"17ac9971.814de7","type":"function","z":"ed92af44.3791","name":"Play","func":"\nmsg.payload = \"play\"\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":980,"wires":[["95b31131.46d2b8"]]},{"id":"95b31131.46d2b8","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":1450,"y":980,"wires":[[]]},{"id":"b4d9f863.5c832","type":"amazon-echo-device","z":"ed92af44.3791","name":"tacos","topic":"","x":310,"y":940,"wires":[["7f6dbffc.506d6"]]},{"id":"888c01e2.c70b6","type":"function","z":"ed92af44.3791","name":"","func":"global.set(\"Now_Playing_Title\",msg.payload.currentsong.Title);\nglobal.set(\"Now_Playing_Artist\",msg.payload.currentsong.Artist);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":920,"wires":[[]]},{"id":"269ceb83.c446ec","type":"template","z":"ed92af44.3791","name":"Now Playing Title Artist","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n<s><voice name=\"Russell\">This song is {{global.Now_Playing_Title}} by {{global.Now_Playing_Artist}}.</voice></s>\n</speak>\n\n","output":"str","x":540,"y":1200,"wires":[["45e9eb0b.d21b9c"]]},{"id":"aef2328e.00438","type":"inject","z":"ed92af44.3791","name":"What Song","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1200,"wires":[["269ceb83.c446ec"]]},{"id":"45e9eb0b.d21b9c","type":"alexa-remote-routine","z":"ed92af44.3791","name":"","account":"983f4897.260008","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":["G2A0U204927501US"]}},"x":760,"y":1200,"wires":[[]]},{"id":"b66d6a17.948b18","type":"amazon-echo-device","z":"ed92af44.3791","name":"artist","topic":"","x":330,"y":1240,"wires":[["269ceb83.c446ec"]]},{"id":"4721ffc3.48cc98","type":"template","z":"ed92af44.3791","name":"Status Report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n<s><voice name=\"Russell\">The house water tank is at {{global.House_Tank_Percentage}} percent of capacity.</voice></s>\n<s><voice name=\"Russell\">The temperature is {{global.12_T0}} degrees celcius and humidity is {{global.12_H}} percent.</voice></s>\n</speak>\n\n","output":"str","x":450,"y":1300,"wires":[["26e15308.168f3c"]]},{"id":"4d8ae085.e8d2c","type":"inject","z":"ed92af44.3791","name":"Status Report","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":1360,"wires":[["4721ffc3.48cc98"]]},{"id":"26e15308.168f3c","type":"alexa-remote-routine","z":"ed92af44.3791","name":"","account":"983f4897.260008","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":["c04a3bac95094e86b67f1f8296d3ad31"]}},"x":650,"y":1300,"wires":[[]]},{"id":"99cc85af.cd48a","type":"amazon-echo-device","z":"ed92af44.3791","name":"Status","topic":"","x":230,"y":1300,"wires":[["4721ffc3.48cc98"]]},{"id":"38be22d2.3e736e","type":"pi-gpiod in","z":"d21fe766.ed76","name":"","host":"172.18.0.0","port":8888,"pin":"","intype":"PUD_OFF","debounce":"25","read":false,"x":740,"y":780,"wires":[[]]},{"id":"9b6029a4.eb707","type":"function","z":"ed92af44.3791","name":"Clear","func":"\nmsg.payload = \"clear\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1100,"wires":[["4a966ee6.c9211"]]},{"id":"370de77f.ce4a2","type":"inject","z":"ed92af44.3791","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":1140,"wires":[["9b6029a4.eb707"]]},{"id":"4a966ee6.c9211","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":470,"y":1100,"wires":[["d4aedd38.124ae"]]},{"id":"d4aedd38.124ae","type":"function","z":"ed92af44.3791","name":"Load PL","func":"\nmsg.payload = 'load \"Digimon Megamix\"';\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1100,"wires":[["fb940833.29afb"]]},{"id":"fb940833.29afb","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":730,"y":1100,"wires":[["8393c6a5.c054"]]},{"id":"8393c6a5.c054","type":"function","z":"ed92af44.3791","name":"70","func":"\nmsg.payload = \"70\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1100,"wires":[["74921c38.3b971c"]]},{"id":"74921c38.3b971c","type":"http request","z":"ed92af44.3791","name":"Vol","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/command?cmd=vol.sh {{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":1100,"wires":[["43f5b741.0f649"]]},{"id":"43f5b741.0f649","type":"function","z":"ed92af44.3791","name":"RND","func":"\nmsg.payload = 'random \"0\"';\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1100,"wires":[["3bd2eef6.c999ba"]]},{"id":"3bd2eef6.c999ba","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":1210,"y":1100,"wires":[["d70c1114.d1282"]]},{"id":"d70c1114.d1282","type":"function","z":"ed92af44.3791","name":"Play","func":"\nmsg.payload = \"play\"\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":1100,"wires":[["1d6739c0.c5f4ee"]]},{"id":"1d6739c0.c5f4ee","type":"mpd out","z":"ed92af44.3791","name":"MPD","topic":"","server":"4ac8182.0584ee8","x":1450,"y":1100,"wires":[[]]},{"id":"f92d3e97.866ea","type":"amazon-echo-device","z":"ed92af44.3791","name":"digimon","topic":"","x":320,"y":1060,"wires":[["9b6029a4.eb707"]]},{"id":"bed8da3a.8cef","type":"mqtt out","z":"d21fe766.ed76","name":"","topic":"","qos":"","retain":"","broker":"c5ae98e6.13b36","x":1050,"y":480,"wires":[]},{"id":"38bd77c1.65e0f","type":"inject","z":"d21fe766.ed76","name":"","topic":"cmnd/Bench/POWER","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":480,"wires":[["bed8da3a.8cef"]]},{"id":"4d7b68c2.d2a4","type":"inject","z":"d21fe766.ed76","name":"","topic":"cmnd/Bench/POWER","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":540,"wires":[["bed8da3a.8cef"]]}]